<table class="header-table">
  <tr>
    <td class="info-cell">
      <h3>{{header.name}}</h3>
      <p>{{header.description}}</p>
    </td>
    
    <td class="photo-cell">
      <img [src]="header['photo url']" alt="Foto de perfil" class="profile-img">
    </td>
    
    <td class="contact-cell">
      {{header.email}}<br>
      {{header.phoneNumber}}<br>
      {{header.location}}<br>
      <a [href]="header.GitHub" target="_blank">GitHub</a><br>
      <a [href]="header.Linkedin" target="_blank">LinkedIn</a>
    </td>
  </tr>
</table>    
